<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to the Page Currently Serving as Index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <div class='classy'>
            <h2>These Cars* are Rather Nice</h2>
                <img src='/images/weirdcar.jpg' alttext='weirdcar.jpg' />
                <img src='/images/fer1.jpg' alttext='fer1.jpg' />
            <h2>But for me, nothing beats a good old e36 m3 :)</h2>
                <img src='/images/e36_4.jpg' alttext='e36_4.jpg' />
                <img src='/images/e36_3.jpg' alttext='e36_3.jpg' />
                <img src='/images/e36_2.jpg' alttext='e36_2.jpg' />
                <img src='/images/e36_1.jpg' alttext='e36_1.jpg' />                
            </ul>
        </div>
        <h4>*looking for <a href='/cats'>Cats</a> instead?</h4>
    </body>
</html>