<!DOCTYPE html>
<html lang="en">
    <head>
        <title>gnu car smell - smells like freedom</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="" method="POST" class='classy formclass'>
            <div class="form-group">
                <label for="itemname">Item Name</label>
                <input type="text" name="itemname">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description">
            </div>
            <input type="submit" value='Der Submittenbutten'>
        </form>
    </body>
</html>