body {
    background-color: #D7BA7D;
}
table{
    width: 80%;
    border: 1px groove darkolivegreen;
    margin: 25px auto;
}
thead {
    background-color: lightskyblue;
}
tbody {
    text-align: center;
}
tbody > tr:nth-child(even){
    background-color: lightgray;
}
th, td {
    height: 10px;
}
textarea{
    display: block;
}
.messages, p{
    color: red;
    font-weight: bold;
}

.classyAF{
    45deg;
    background: linear-gradient(90deg, rgba(255,255,255,0.3) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 0), #ccc;
    background-size:50px auto;
    }
}

#formclass {
    width: 80%;
    border: 1px groove darkolivegreen;
    margin: 25px auto;

